{% for flashMessage in app.session.flashbag.get('error') %}
<div class="flash-error">
    {{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
    {{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('warning') %}
<div class="flash-warning">
    {{ flashMessage }}
</div>
{% endfor %}