{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tag merge</h1>
{% include '::flashmessage.html.twig' %}
    <form action="{{ path('matuck_library_tags_merge') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Merge</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('matuck_library_tags') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
