{% extends '::base.html.twig' %}

{% block body %}
<h1>Edit Author - {{ author.getName() }}</h1>
{% include '::flashmessage.html.twig' %}
<div>
    <form action="{{ path('matuck_library_author_bioupdate', { 'id': author.getId() }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Update</button>
        </p>
    </form>
</div>
{% endblock %}