{% extends '::base.html.twig' %}

{% block body %}
<div><h2>Update Book</h2></div>
{% include '::flashmessage.html.twig' %}
<div>
    <form action="{{ path('matuck_library_book_update', { 'id': book.getId() }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Update</button>
        </p>
    </form>
</div>
{% endblock %}